---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import ShellSlide from "../../../../components/Slide/ShellSlide.astro";
import { Code } from "astro:components";
---

<SlidesLayout title="Slide 55.2: Tabs HTML">
  <ShellSlide
    class="flex-wrap content-center gap-4"
    next-href="/talks/practical-solutions-for-accessible-components/55/3-code"
    next-label="Go to slide 55.3: Tabs HTML"
  >
    <Code
      slot="single"
      lang="html"
      code={`
<h3>More about fruits</h3>

<div>
  <button type="button">Apple</button>
  <button type="button">Banana</button>
  <button type="button">Grape</button>
</div>

<!-- panel -->
<!-- panel -->
<!-- panel -->
`.trim()}
    />
  </ShellSlide>
</SlidesLayout>
