---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import ShellSlide from "../../../../components/Slide/ShellSlide.astro";
import { Code } from "astro:components";
import { words } from "../../../../functions/transformations";
---

<SlidesLayout title="Slide 55.22: Tabs HTML">
  <ShellSlide
    class="flex-wrap content-center gap-4"
    next-href="/talks/practical-solutions-for-accessible-components/55/23-state"
    next-label="Go to slide 55.23: Tabs HTML"
  >
    <Code
      slot="single"
      lang="html"
      transformers={words}
      meta='/tabindex="0"/,/tabindex="-1"/'
      code={`
<h3 id="tablist-title">More about fruits</h3>

<div role="tablist" aria-labelledby="tablist-title">
  <button id="tab-a" role="tab" aria-controls="tp-app" aria-selected="true">Apple</button>
  <button id="tab-b" role="tab" aria-controls="tp-ban" aria-selected="false">Banana</button>
  <button id="tab-g" role="tab" aria-controls="tp-gra" aria-selected="false">Grape</button>
</div>

<div role="tabpanel" id="tp-app" aria-labelledby="tab-a" tabindex="0">Eve, don't do it</div>
<div role="tabpanel" id="tp-ban" aria-labelledby="tab-b" hidden>Minion's favourite</div>
<div role="tabpanel" id="tp-gra" aria-labelledby="tab-g" hidden>Basically Wine</div>
`.trim()}
    />
  </ShellSlide>
</SlidesLayout>
