---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import ShellSlide from "../../../../components/Slide/ShellSlide.astro";
import { Code } from "astro:components";
import { words } from "../../../../functions/transformations";
---

<SlidesLayout title="Slide 55.8: Tabs HTML">
  <ShellSlide
    class="flex-wrap content-center gap-4"
    next-href="/talks/practical-solutions-for-accessible-components/55/9-connecting"
    next-label="Go to slide 55.9: Tabs HTML"
  >
    <Code
      slot="single"
      lang="html"
      transformers={words}
      meta='/id="tp-app"/,/id="tp-ban"/,/id="tp-gra"/'
      code={`
<h3>More about fruits</h3>

<div role="tablist">
  <button type="button" role="tab">Apple</button>
  <button type="button" role="tab">Banana</button>
  <button type="button" role="tab">Grape</button>
</div>

<div role="tabpanel" id="tp-app">Eve, don't do it</div>
<div role="tabpanel" id="tp-ban">Minion's favourite</div>
<div role="tabpanel" id="tp-gra">Basically Wine</div>
`.trim()}
    />
  </ShellSlide>
</SlidesLayout>
