---
import Page from "../../../talks/exercism-is-excellent/04";
import SlidesLayout from "../../../layouts/talks/exercism-is-excellent.astro";
---

<SlidesLayout title="Slide 4: about the languages">
  <section class={`slide justify-center items-center`} transition:name="slide">
    <Page client:idle />
  </section>
</SlidesLayout>
