---
import Page from "../../../talks/exercism-is-excellent/08";
import SlidesLayout from "../../../layouts/talks/exercism-is-excellent.astro";
---

<SlidesLayout title="Slide 8: about the syllabus">
  <section class={`slide justify-center items-center`} transition:name="slide">
    <Page client:idle />
  </section>
</SlidesLayout>
