---
import Page from "../../../talks/exercism-is-excellent/10";
import SlidesLayout from "../../../layouts/talks/exercism-is-excellent.astro";
---

<SlidesLayout title="Slide 10: semi-automated feedback">
  <section class={`slide justify-center items-center`} transition:name="slide">
    <Page client:idle />
  </section>
</SlidesLayout>
