---
import Page from "../../../talks/exercism-is-excellent/14";
import SlidesLayout from "../../../layouts/talks/exercism-is-excellent.astro";
---

<SlidesLayout title="Slide 14: 12 in 23">
  <section class={`slide justify-center items-center`} transition:name="slide">
    <Page client:idle />
  </section>
</SlidesLayout>
