---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";

const nextHref = "/talks/practical-solutions-for-accessible-components/39";
const nextLabel = "Go to slide 39: Solved problem";
---

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const openButton = document.getElementById(
      "practical-solutions-for-accessible-components-38-15-button",
    );

    if (!openButton) {
      return;
    }

    let ignoreFocusEvents = false;

    function focusFirst(element) {
      for (const child of element.children) {
        if (attemptFocus(child) || focusFirst(child)) {
          return true;
        }
      }

      return false;
    }

    function attemptFocus(element) {
      ignoreFocusEvents = true;
      try {
        element.focus();
      } catch (e) {
        // ignore errors
      }
      ignoreFocusEvents = false;
      return document.activeElement === element;
    }

    function trapFocus(event) {
      if (ignoreFocusEvents) {
        return;
      }

      if (dialog.contains(event.target)) {
        return;
      }

      focusFirst(dialog);
    }

    function outsideClick(event) {
      if (dialog.querySelector('[role="document"]').contains(event.target)) {
        return;
      }

      closeDialog();
      event.preventDefault();
    }

    function onKeyPress(event) {
      if (event.key !== "Escape") {
        return;
      }

      closeDialog();
      event.preventDefault();
    }

    const dialog = document.getElementById(openButton.getAttribute("aria-controls"));

    openButton.addEventListener("click", () => {
      openButton.setAttribute("aria-expanded", "true");
      dialog.removeAttribute("hidden");
      document.addEventListener("focus", trapFocus, true);
      document.addEventListener("click", outsideClick, true);
      document.addEventListener("keydown", onKeyPress);

      // Both actions can just close the dialog in this example
      dialog.querySelectorAll("button[data-action]").forEach((button) => {
        button.addEventListener("click", closeDialog);
      });

      focusFirst(dialog);
    });

    function closeDialog() {
      openButton.setAttribute("aria-expanded", "false");
      dialog.setAttribute("hidden", "");
      document.removeEventListener("focus", trapFocus, true);
      document.removeEventListener("click", outsideClick, true);
      document.removeEventListener("keydown", onKeyPress);

      dialog.querySelectorAll("button[data-action]").forEach((button) => {
        button.removeEventListener("click", closeDialog);
      });

      openButton.focus();
    }
  });
</script>

<SlidesLayout title="Slide 38.15: How to trap focus? Example">
  <section class={`slide --custom flex-col`} transition:name="slide">
    <h2 transition:name="title">Dangerous Dialogs</h2>
    <button
      type="button"
      id="practical-solutions-for-accessible-components-38-15-button"
      aria-controls="practical-solutions-for-accessible-components-38-15-dialog"
      aria-expanded="false"
      class="m-6 focus:outline-dotted focus:outline-4 focus:outline-pink-500 shadow-lg bg-pink-700 hover:bg-pink-600 active:bg-pink-800 text-white"
      >Open Dialog</button
    >
    <div
      id="practical-solutions-for-accessible-components-38-15-dialog"
      hidden
      class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent"
    >
      <div
        role="dialog"
        class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0"
      >
        <div
          role="document"
          tabindex="0"
          class="focus:outline-dotted focus:outline-4 focus:outline-pink-500 relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6 dark:bg-gray-800 dark:outline dark:-outline-offset-1 dark:outline-white/10"
        >
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10 dark:bg-red-500/10"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                data-slot="icon"
                aria-hidden="true"
                class="size-6 text-red-600 dark:text-red-400"
              >
                <path
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                id="dialog-title"
                class="!text-base font-semibold text-gray-900 dark:text-white !my-0"
              >
                Deactivate account
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  Are you sure you want to deactivate your account? All of your data will
                  be permanently removed from our servers forever. This action cannot be
                  undone.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-4 sm:flex">
            <button
              type="button"
              data-action="cancel"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring-1 inset-ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20"
              >Cancel</button
            >
            <button
              type="button"
              data-action="deactivate"
              class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto dark:bg-red-500 dark:shadow-none dark:hover:bg-red-400"
              >Deactivate</button
            >
          </div>
        </div>
      </div>
    </div>

    {
      nextHref ? (
        <footer class="controls" transition:name="next">
          <a
            rel="next"
            href={`${nextHref}#content`}
            class="group"
            data-astro-prefetch="load"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              role="img"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
              <title>{nextLabel}</title>
            </svg>
          </a>
        </footer>
      ) : null
    }
  </section>
</SlidesLayout>
