---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import ListSlide from "../../../../components/Slide/ListSlide.astro";
---

<SlidesLayout title="Slide 53.1: Tabs (or: how I find information)">
  <ListSlide
    type="ol"
    title="Building some tabs"
    class="flex-wrap content-center gap-4"
    next-href="/talks/practical-solutions-for-accessible-components/53/2-prework"
    next-label="Go to slide 53.2: Tabs (or: how I find information)e"
  >
    <li>Interwebs?</li>
  </ListSlide>
</SlidesLayout>
