---
import SlidesLayout from "../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import TextSlide from "../../../components/Slide/TextSlide.astro";
---

<SlidesLayout title="Slide 10: Is it accessible?">
  <TextSlide
    next-href="/talks/practical-solutions-for-accessible-components/10"
    next-label="Go to slide 10: Is it accessible"
  >
    Fin <span class="font-mono opacity-75 text-sm">/sarc</span>
  </TextSlide>
</SlidesLayout>
