---
import TextSlide from "../../../components/Slide/TextSlide.astro";
import SlidesLayout from "../../../layouts/talks/practical-solutions-for-accessible-components.astro";
---

<SlidesLayout title="Slide 34: Restore the focus">
  <TextSlide
    next-href="/talks/practical-solutions-for-accessible-components/35"
    next-label="Go to slide 35: Restore the focus"
  >
    Always<span class="text-pink-500">*</span> restore the focus when closing a dialog or popup
  </TextSlide>
</SlidesLayout>
