---
import { Image } from "astro:assets";
import Layout from "../../../layouts/talks/embrace-the-patch.astro";

import textileMarket from "../../../talks/practical-solutions-for-accessible-components/resourceful-boat.jpg";
---

<Layout title="Final page & slide">
  <h2 class="sr-only">Final page and slide of the talk</h2>

  <section class="slide --cover --bleeding">
    <div class="slide-content">
      <header>
        <h3 id="title-slide-final">Practical solutions for accessible components</h3>
      </header>

      <figure class="full-background !mb-0 !pb-0">
        <blockquote
          cite="https://unsplash.com/photos/blue-and-white-boat-on-body-of-water-during-daytime-B2lqs6Inru4"
        >
          <Image
            src={textileMarket}
            width={textileMarket.width}
            height={textileMarket.height}
            layout="constrained"
            loading="eager"
            alt=""
          />
        </blockquote>
        <figcaption class="sr-only">
          Blue and white boat on body of water during daytime with the name <em
            translate="no">RESOURCEFUL<sup>2</sup></em
          >, by <cite>Hao Dong</cite>.
        </figcaption>
      </figure>
    </div>
  </section>
</Layout>
