---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import TextSlide from "../../../../components/Slide/TextSlide.astro";
import { Image } from "astro:assets";

import notTodaySrc from "../../../../talks/practical-solutions-for-accessible-components/accessibility-fundamentals.png";
---

<SlidesLayout title="Slide 4: TOC">
  <TextSlide
    class="flex-wrap content-center gap-4"
    title:class="my-auto mx-0 text-center flex-1"
    next-href="/talks/practical-solutions-for-accessible-components/05"
    next-label="Go to slide 5: TOC"
  >
    <Fragment>Not Today</Fragment>

    <a
      href="https://www.youtube.com/watch?v=z8xUCzToff8"
      target="_blank"
      slot="meta"
      class="group"
    >
      <Image
        src={notTodaySrc}
        width={notTodaySrc.width}
        height={notTodaySrc.height}
        alt="Rob Dodson giving a talk about Accessibility Fundamentals. Screen caption indicates ARIA let's you control the accessibility tree"
        class="max-h-64 w-auto rounded-lg !m-0 group-hover:scale-95 transition group-active:opacity-70 group-active:scale-90"
      />
    </a>
  </TextSlide>
</SlidesLayout>
