---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";

const nextHref = "/talks/practical-solutions-for-accessible-components/04/7-toc";
const nextLabel = "Go to slide 4.7: TOC";
---

<SlidesLayout title="Slide 4.6: TOC">
  <ListSlide
    class="--indigo"
    title="Today"
    type="ul"
    next-href={nextHref}
    next-label={nextLabel}
    sizer="Tabs (or: how I find information)"
  >
    <li>I talk a lot</li>
    <li>Between perfect &amp; practical</li>
    <li>Accessibility claims</li>
    <li>Focus</li>
    <li>CSS, interactivity & you</li>
    <li>Tabs (or: how I find information)</li>
  </ListSlide>
</SlidesLayout>
