---
import ListSlide from "../../../../components/Slide/ListSlide.astro";
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";

const nextHref = "/talks/practical-solutions-for-accessible-components/01/2-standards";
const nextLabel = "Go to slide 1.2: Doing the right thing";
---

<SlidesLayout title="Slide 1.1: Doing the right thing">
  <ListSlide
    class=""
    title="The Right Thing™"
    type="ul"
    next-href={nextHref}
    next-label={nextLabel}
    sizer="You Integrate Ethical Accessibility Considerations into QA processes"
  >
    <li>
      Follow <a href="https://www.accessibility-developer-guide.com/" target="_blank"
        >Accessibility Developer Guide</a
      >
    </li>
  </ListSlide>
</SlidesLayout>
