<section data-component="PreviewTinyClockWiseTransition" class="preview max-w">
  <div data-target="digit" class="digit">
    <div class="┌"></div><div class="─"></div><div class="─"></div><div class="┐"></div>
    <div class="│"></div><div class="┌"></div><div class="┐"></div><div class="│"></div>
    <div class="│"></div><div class="│"></div><div class="│"></div><div class="│"></div>
    <div class="│"></div><div class="│"></div><div class="│"></div><div class="│"></div>
    <div class="│"></div><div class="└"></div><div class="┘"></div><div class="│"></div>
    <div class="└"></div><div class="─"></div><div class="─"></div><div class="┘"></div>
  </div>
</section>

<style>
  .preview {
    outline: 1px dotted light-dark(var(--color-zinc-800), var(--color-zinc-200));
    background-color: light-dark(var(--color-white), var(--color-zinc-950));

    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;

    & > .digit {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);

      gap: 0.5rem;

      & > * {
        &::before,
        &::after {
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }
</style>

<script>
  const ENCODED_DIGITS = `
┌──┐  ┌─┐.  ┌──┐  ┌──┐  ┌┐┌┐  ┌──┐  ┌──┐  ┌──┐  ┌──┐  ┌──┐
│┌┐│  └┐│.  └─┐│  └─┐│  ││││  │┌─┘  │┌─┘  └─┐│  │┌┐│  │┌┐│
││││  .││.  ┌─┘│  .┌┘│  │└┘│  │└─┐  │└─┐  ..││  │└┘│  │└┘│
││││  .││.  │┌─┘  .└┐│  └─┐│  └─┐│  │┌┐│  ..││  │┌┐│  └─┐│
│└┘│  ┌┘└┐  │└─┐  ┌─┘│  ..││  ┌─┘│  │└┘│  ..││  │└┘│  ┌─┘│
└──┘  └──┘  └──┘  └──┘  ..└┘  └──┘  └──┘  ..└┘  └──┘  └──┘
`
    .trim()
    .replace(/[\r\n]/g, "")
    .replace(/\./g, "∅");

  const DECODED = Array.from(new Array(10), (_, digit) => {
    const faces: string[] = [];

    const digitWidth = 4;
    const digitHeight = 6;
    const digitGap = 2;

    const rowLength = digitWidth * 10 + digitGap * 9;
    const x = digit * (digitWidth + digitGap);

    for (let y = 0; y < digitHeight; y++) {
      const start = rowLength * y + x;
      const end = start + digitWidth;

      faces.push(...ENCODED_DIGITS.substring(start, end));
    }

    return faces;
  });

  let currentDigit = 0;
  let interval: undefined | NodeJS.Timeout;

  document.addEventListener("astro:page-load", () => {
    const component = document.querySelector(
      '[data-component="PreviewTinyClockWiseTransition"]',
    );
    if (!component) {
      return;
    }

    const target = component.querySelector('[data-target="digit"]');
    if (!target) {
      throw new Error(
        'Expected [data-component] PreviewTinyClockWiseTransition with [data-target="digit"]',
      );
    }

    const tinyClocks = Array.from(target.children) as HTMLElement[];
    function displayNextDigit() {
      currentDigit = (currentDigit + 1) % DECODED.length;
      const digit = DECODED[currentDigit];

      digit.forEach((tinyClockClass, tinyClockIndex) => {
        const tinyClock = tinyClocks[tinyClockIndex];
        if (tinyClock.getAttribute("class") === tinyClockClass) {
          return;
        }

        tinyClock.setAttribute("class", tinyClockClass);
        tinyClock.style.setProperty(
          "--iterations",
          String(Number(tinyClock.style.getPropertyValue("--iterations") || "0") + 1),
        );
      });
    }

    interval = setInterval(displayNextDigit, 2 * 1000);
  });

  document.addEventListener("astro:before-preparation", () => {
    if (interval) {
      clearInterval(interval);
      interval = undefined;
    }

    currentDigit = 0;
  });
</script>
