<section data-component="PreviewDigitLayout" class="preview">
  <div class="digit">
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
    <div></div><div></div><div></div><div></div>
  </div>
</section>

<style>
  .preview {
    outline: 1px dotted light-dark(var(--color-zinc-800), var(--color-zinc-200));
    background-color: light-dark(var(--color-white), var(--color-zinc-950));

    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;

    & > .digit {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);

      gap: 0.5rem;

      & > * {
        outline: 1px solid light-dark(var(--color-pink-600), var(--color-orange-400));
        aspect-ratio: 1 / 1;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
</style>
