<section data-component="PreviewTinyClockDigitZero" class="preview">
  <div class="digit">
    <div class="┌"></div><div class="─"></div><div class="─"></div><div class="┐"></div>
    <div class="│"></div><div class="┌"></div><div class="┐"></div><div class="│"></div>
    <div class="│"></div><div class="│"></div><div class="│"></div><div class="│"></div>
    <div class="│"></div><div class="│"></div><div class="│"></div><div class="│"></div>
    <div class="│"></div><div class="└"></div><div class="┘"></div><div class="│"></div>
    <div class="└"></div><div class="─"></div><div class="─"></div><div class="┘"></div>
  </div>
</section>

<style>
  .preview {
    outline: 1px dotted light-dark(var(--color-zinc-800), var(--color-zinc-200));

    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;

    & > .digit {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);

      gap: 12px;

      & > * {
        position: relative;

        outline: 1px solid light-dark(var(--color-pink-600), var(--color-orange-400));
        aspect-ratio: 1 / 1;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background: light-dark(var(--color-pink-600), var(--color-orange-400));
          width: 50%;
          height: 5%;

          left: 50%;
          top: 50%;
          transform-origin: left center;
          transform: translate(0, -50%) rotate(var(--angle, 135deg));
        }

        &::before {
          --angle: var(--angle-hour, -135deg);
        }

        &::after {
          --angle: var(--angle-minute);
        }

        &.─ {
          --angle-hour: 0deg;
          --angle-minute: 180deg;
        }

        &.│ {
          --angle-hour: 90deg;
          --angle-minute: 270deg;
        }

        &.┌ {
          --angle-hour: 0deg;
          --angle-minute: 90deg;
        }

        &.┐ {
          --angle-hour: 180deg;
          --angle-minute: 90deg;
        }

        &.┘ {
          --angle-hour: 180deg;
          --angle-minute: 270deg;
        }

        &.└ {
          --angle-hour: 0deg;
          --angle-minute: 270deg;
        }
      }
    }
  }
</style>
