---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import ListSlide from "../../../../components/Slide/ListSlide.astro";
---

<SlidesLayout title="Slide 36.3: Trapping the focus">
  <ListSlide
    title="Trapping focus"
    next-href="/talks/practical-solutions-for-accessible-components/37"
    next-label="Go to slide 37: Alternative"
    type="ul"
    sizer="Embedded applications and complex composites (e.g. editors)"
  >
    <li>Modals (some dialogs, some menus, some dropdowns)</li>
    <li>Overlays (e.g. full screen navigation menu or sidebar)</li>
    <li>Embedded applications and complex composites (e.g. editors)</li>
  </ListSlide>
</SlidesLayout>
