---
import SlidesLayout from "../../../../layouts/talks/practical-solutions-for-accessible-components.astro";
import ListSlide from "../../../../components/Slide/ListSlide.astro";
---

<SlidesLayout title="Slide 14.2: React-Aria seems to care">
  <ListSlide
    next-href="/talks/practical-solutions-for-accessible-components/14/3"
    next-label="Go to slide 14.3: React-Aria seems to care"
    title="React-Aria seems to care"
    type="ul"
    sizer="They track and work on external browser and library bugs"
  >
    <li>Devon Govett is vocal</li>
    <li>
      Dedicated <a
        href="https://react-spectrum.adobe.com/react-aria/accessibility.html"
        target="_blank">accessibility page</a
      >
    </li>
  </ListSlide>
</SlidesLayout>
